@import "../../../_css/common";

.form {
  width: 100%;
  margin-bottom: var(--base);
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  margin-top: 30px;
}


.submit {
  width: 100%;
}

.message {
  margin-bottom: var(--base);
}

.links{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120%;
  font-size: medium;
  // border: 10px solid red;
}